<p class="bg-success" id="notice"><%= notice %></p>

<p class="form-control-static">
  <strong>Name:</strong>
  <%= @cake.name %>
</p>

<%= link_to 'Edit', edit_cake_path(@cake), class:"btn btn-default" %> |
<%= link_to 'Back', cakes_path, class:"btn btn-default" %>
